.wrapper{
    width: 100vw;
    height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}


.smalllogoBits{
    position: absolute;
    width: 50px;
    right:30px;
    top: 15px;
}