.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper .heading{
    font-size: 3em;
    font-weight: bold;
}

.wrapper .logoBits{
    margin: 50px auto 50px;
}

.wrapper .initiative{
    font-size: 2rem;
    color: gray;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

.wrapper .form{
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

